/* Landing page styles */
.primary-heading {
  font-size: var(--h100);
  font-weight: var(--fw-bold);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 16ch;
  margin: 100px auto 0;
}

.para {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-para-100);
  font-size: var(--p300);
  text-align: center;
  line-height: 180%;
}

.section-discover .para {
  margin: 30px auto 100px;
  max-width: 1024px;
}

.search {
  padding: 0 26px 0 26px;
  max-width: 810px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -40px auto;
  justify-content: space-between;
  box-shadow: 0px 4px 80px rgba(175, 173, 181, 0.2);
  background-color: var(--clr-screen-100);
  z-index: 2;
}

.search img {
  width: 32px;
  height: 32px;
}

.search input {
  margin: 0 0 0 18px;
  width: 100%;
  border: none;
  font-size: var(--p300);
  font-weight: var(--fw-regular);
  color: var(--clr-para-100);
  border: none;
}

.search input::placeholder {
  color: var(--clr-para-100);
}

.search input:focus {
  outline: none;
}

.button {
  width: 170px;
  height: 54px;
  color: var(--clr-screen-100);
  background-color: var(--clr-pallete-300);
  border: none;
  cursor: pointer;
}
.button:hover {
  -webkit-box-shadow: 0px 5px 15px -2px #518581;
  box-shadow: 0px 5px 15px -2px #518581;
}

.input-image {
  margin: auto 100px;
  position: relative;
  z-index: -1;
}

.input-image img {
  max-height: 600px;
}

.section header p {
  margin: 0;
}

.section p {
  text-align: left;
}

.section-benefits {
  margin: 100px auto;
}

.section-benefits .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px 0 50px;
}

.section-benefits .header-wrapper header {
  width: 50%;
}

.section-benefits .header-wrapper header p {
  color: var(--clr-sec-100);
  font-size: var(--h500);
}

.section-benefits .header-wrapper header h2 {
  color: var(--clr-title-100);
  font-size: var(--h200);
}

.section-benefits .header-wrapper .para {
  max-width: 30ch;
  margin: 0 0 0 50px;
}

.article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 50px;
}

.section-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 75px auto 0;
}

.section-products .header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-products .header-wrapper header p {
  text-align: center;
  color: var(--clr-sec-100);
  font-size: var(--h500);
}
.section-products .header-wrapper h2 {
  margin: 14px 0 0 0;
  color: var(--clr-title-100);
  font-size: var(--h200);
}

.section-products .header-wrapper .para {
  margin: 30px 0 0 0;
  max-width: 40ch;
}

.figure {
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
}
.figure img {
  justify-content: flex-start;
  height: 62px;
  margin: 0 0 24px 0;
}
.figure h3 {
  font-size: var(--h300);
}
.figure p {
  width: 20ch;
  padding: 0;
}

.carousel {
  background: #fff;
  /* height: 550px; */
  width: 100%;
  margin: 50px 0 0 0;
}

.carousel-cell {
  display: block;
  margin: auto;
  padding: 0;
  width: 410px;
  /* height: 550px; */
  margin-right: 30px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

/* smaller, dark, rounded square */
.flickity-prev-next-button {
  width: 52px;
  height: 52px;
  background: rgba(21, 20, 17, 0.6);
}
.flickity-prev-next-button:hover {
  background: var(--clr-sec-100);
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}

.article-carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.article-carousel .product-image img {
  width: 395px;
}

.article-carousel figcaption {
  font-size: var(--h500);
  color: var(--clr-para-100);
  margin: 26px 0 0 0;
}

.article-carousel h3 {
  font-size: var(--h350);
  color: var(--clr-title-10);
  margin: 14px 0 0 0;
}

.article-carousel p {
  font-size: var(--p300);
  color: var(--clr-para-100);
  margin: 6px 0 0 0;
  font-weight: var(--fw-semi-bold);
}

.article-carousel label {
  font-size: var(--h300);
  color: var(--clr-title-10);
  margin: 18px 0 0 0;
}

.section-our-product {
  margin: 130px auto 0;
  display: flex;
  gap: 50px;
  padding: 0 24px;
}

.section-our-product .header-wrapper {
  display: flex;
  flex-direction: column;
}

.section-our-product .header-wrapper header p {
  color: var(--clr-sec-100);
  font-size: var(--h500);
}
.section-our-product .header-wrapper h2 {
  margin: 14px 0 0 0;
  color: var(--clr-title-100);
  font-size: var(--h200);
}
.section-our-product .left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.section-our-product .right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.section-our-product .header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: calc(50vw - 100px);
}

.section-our-product .header-wrapper .para {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 20px 0 0 0;
}

.stats-wrapper {
  display: flex;
  width: 100%;
  gap: 50px;
  margin: 32px 0 0 0;
}

.stats-wrapper header p {
  text-align: center;
}

.stats-wrapper header h2 {
  color: var(--clr-title-100);
  font-size: var(--h200);
  text-align: center;
}

.section-our-product .left .button {
  margin: 20px 0 0 0;
}

.section-our-product .left figure {
  margin: 30px 0 0 0;
}

.section-our-product .right figure {
  margin: 80px 0 0 0;
}

.section-testimonials {
  margin: 130px auto 0;
  display: flex;
  gap: 50px;
  padding: 0 24px;
}

.section-testimonials .header-wrapper .para {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 20px 0 0 0;
}

.section-testimonials .header-wrapper header p {
  color: var(--clr-sec-100);
  font-size: var(--h500);
  text-align: center;
}

.section-testimonials .header-wrapper header h2 {
  margin: 14px 0 0 0;
  text-align: center;
  color: var(--clr-title-100);
  font-size: var(--h200);
}

.section-testimonials .carousel {
  width: 100%;
}

.section-testimonials .carousel-cell {
  margin: 50px 30px 0 30px;
}

.testimonial-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-screen-100);
  box-shadow: 0px 4px 100px rgba(175, 173, 181, 0.1);
}

.testimonial-wrapper img {
  width: 40px;
  height: 40px;
  margin: 26px 0 26px 24px;
}

.testimonial-wrapper p {
  text-align: left;
  margin: 0 0 0 26px;
}

.testimonial-footer {
  max-width: 450px;
}

.testimonial-wrapper .testimonial-footer .left {
  display: flex;
  align-items: center;
}

.testimonial-wrapper .testimonial-footer .left img {
  width: 50px;
  height: 50px;
}

.testimonial-wrapper .testimonial-footer .left p {
  margin: 0 0 0 14px;
  font-size: var(--h400);
  color: var(--clr-title-100);
}

.testimonial-wrapper .testimonial-footer .right {
  display: flex;
  align-items: center;
}

.testimonial-wrapper .testimonial-footer .right img {
  width: 24px;
  height: 24px;
}
.testimonial-wrapper .testimonial-footer .right p {
  margin: 0 0 0 10px;
  font-size: var(--h500);
  color: var(--clr-title-100);
}

/* ////////////////////////////////////////////////////////////
Media Queries
//////////////////////////////////////////////////////////// */

@media (max-width: 1024px) {
  .primary-heading {
    margin: 50px auto 0;
    font-size: var(--h100);
    max-width: 15ch;
  }
  .section-discover .para {
    margin: 30px 70px 50px 70px;
  }

  .search {
    max-width: auto;
    margin-left: 100px;
    margin-right: 100px;
  }
  .figure img {
    margin: 0 0 10px 0;
  }

  .section-benefits {
    margin: 75px 50px 0 50px;
  }

  .section-benefits .header-wrapper .para {
    max-width: 22ch;
    margin: 0 0 0 30px;
  }

  .article {
    justify-content: space-around;
    margin: 0;
  }

  .section-our-product {
    margin: 100px auto 0;
  }

  .stats-wrapper {
    gap: 0;
    justify-content: space-between;
  }

  .stats-wrapper header h2 {
    font-size: var(--h250);
  }

  .stats-wrapper header p {
    padding: 0 12px;
  }
}

@media (max-width: 768px) {
  .section-discover .primary-heading {
    margin: 50px auto 0;
    font-size: var(--h200);
    max-width: 16ch;
    padding: 0 24px;
  }
  .para {
    max-width: 33ch;
    padding: 0 24px;
    margin: 30px auto 30px;
  }
  .search {
    width: auto;
    height: 54px;
    margin: 30px 34px 0 34px;
  }

  .button {
    width: 120px;
    height: 38px;
    font-size: var(--h650);
    font-weight: var(--fw-bold);
  }

  .search input {
    font-size: var(--p200);
  }

  .input-image {
    margin: auto 24px;
  }
  .input-image img {
    margin: 30px 0 0 0;
  }
  .section-benefits {
    margin: 100px 50px 0 50px;
  }

  .section-benefits .header-wrapper {
    flex-direction: column;
    align-items: start;
    margin: 0;
  }
  .section-benefits .header-wrapper h2 {
    margin: 10px 0 0 0;
    width: 90vw;
    padding: 0 20px 0 0;
  }

  .section-benefits .header-wrapper .para {
    margin: 10px 0 0 0;
    padding: 0;
  }

  .section header h2 {
    font-size: var(--h250);
  }
  .section-products {
    width: 100vw;
    margin: 50px auto 0;
    padding: 0;
  }
  .section-products header {
    padding: 0 24px;
  }

  .section-products .header-wrapper .para {
    max-width: 30ch;
  }

  .benefit-figure {
    margin: 0 20px 0 20px;
  }
  .benefit-figure p {
    max-width: 30ch;
    padding: 0;
  }
  .carousel-cell {
    margin-right: 20px;
  }
  .carousel-cell {
    width: 280px;
  }
  .flickity-prev-next-button {
    display: none;
  }
  .article-carousel figcaption {
    font-size: var(--h600);
    color: var(--clr-para-100);
    margin: 14px 0 0 0;
  }

  .article-carousel h3 {
    font-size: var(--h350);
    color: var(--clr-title-10);
    margin: 10px 0 0 0;
  }

  .article-carousel p {
    font-size: var(--h600);
    color: var(--clr-para-100);
    margin: 10px 0 0 0;
    font-weight: var(--fw-semi-bold);
  }

  .article-carousel label {
    font-size: var(--h350);
    color: var(--clr-title-10);
    margin: 18px 0 0 0;
  }

  .section-our-product {
    flex-direction: column;
    gap: 25px;
  }

  .section-our-product .header-wrapper {
    max-width: 100%;
  }

  .section-our-product .header-wrapper .para {
    max-width: 100%;
  }

  .section-our-product .left {
    width: 100%;
  }

  .section-our-product .left .header-wrapper {
    width: 100%;
  }

  .section-our-product .left .button {
    width: 100%;
    height: 48px;
  }

  .section-our-product .right {
    width: 100%;
  }

  .section-our-product .left figure img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .section-our-product .right figure img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .stats-wrapper {
    margin: 0;
  }

  .stats-wrapper header p {
    padding: 0 12px;
  }

  .section-testimonials {
    margin: 100px auto 0;
    justify-content: center;
  }

  .testimonials-carousel .carousel {
    width: 100vw;
  }

  .testimonials-carousel .carousel .carousel-cell {
    width: calc(100%); /* full width */
    padding: 0 24px;
    margin-right: 10px;
  }

  .testimonial-wrapper {
    width: 480px;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .section-discover .primary-heading {
    font-size: var(--h350);
    max-width: 20ch;
  }
  .para {
    max-width: 30ch;
    font-size: var(--p100);
  }
  .search input {
    font-size: var(--p100);
  }

  .header-wrapper p {
    font-size: var(--p100);
  }
  .article {
    width: 100vw;
    display: flex;
    justify-content: start;
  }

  .section-benefits .header-wrapper header p {
    font-size: var(--p100);
  }

  .section-benefits .header-wrapper header h2 {
    font-size: var(--h300);
  }

  .article .figure {
    margin: 20px 0 0 0;
    width: calc(100vw - 48px);
  }

  .figure .para {
    font-size: var(--p100);
    max-width: 40ch;
    margin: 6px 0 18px 0;
  }
  .figure img {
    width: 44px;
    height: 44px;
  }

  .section-products {
    width: 100vw;
    margin: 90px auto 0;
  }

  .section-products .header-wrapper header p {
    font-size: var(--p100);
  }

  .section-products .header-wrapper header h2 {
    font-size: var(--h300);
    margin: 8px 0 0 0;
  }

  .carousel-cell {
    margin-right: 20px;
  }
  .carousel-cell {
    width: 220px;
  }
  .article-carousel figcaption {
    font-size: var(--p400);
    color: var(--clr-para-100);
    margin: 14px 0 0 0;
  }

  .article-carousel h3 {
    font-size: var(--h600);
    color: var(--clr-title-10);
    margin: 6px 0 0 0;
  }

  .article-carousel p {
    font-size: var(--p100);
    color: var(--clr-para-100);
    margin: 4px 0 0 0;
    font-weight: var(--fw-semi-bold);
  }

  .article-carousel label {
    font-size: var(--h600);
    color: var(--clr-title-10);
    margin: 12px 0 0 0;
  }

  .stats-wrapper header h2 {
    font-size: var(--h300);
  }

  .section-our-product .left figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .section-our-product .right figure img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .section-testimonials {
    margin: 90px auto 0;
  }

  .section-testimonials .header-wrapper .para {
    margin: 20px auto 0;
  }
}
